#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  background-color: black;
  height: 100%;
}

.welcome {
  align-items: center;
}

.text-bold {
  font-weight: bold;
}

.text-justify {
  text-align: justify;
}

.btn-2 {
  border-radius: 10px;
  padding: 1% 5%;
  color: black;
  font-weight: bold;
  background-color: aqua;
}

.btn-2:hover {
  background-color: whitesmoke;

}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
}

.h-700p {
  height: 700px;
}

.w-10 {
  width: 10%;
}

.place-center {
  place-items: center;
}

.countdown {
  font-size: 48px;
  font-weight: bold;
  color: yellow;
}

.dp-flex {
  display: flex;
}

.dp-grid {
  display: grid;
}

.dp-ruby {
  display: ruby-text;
}

.dp-ruby-2 {
  display: ruby;
}

.dp-in-block {
  display: inline-block;
}

.text-aqua {
  color: aqua;
}

.dp-con {
  display: contents;
}

.background {
  background-image: url('https://static.promediateknologi.id/crop/0x0:0x0/0x0/webp/photo/p2/96/2024/07/04/Screenshot-2024-07-04-100038-2458217483.png');
  background-size: cover; /* Cover the whole area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent background image repetition */
}

.timer {
  font-size: 1.25rem;
  font-weight: bold;
}
.container {
  max-width: 800px;
}

.br-5 {
  border-radius: 5px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.card {
    width: 60px;
    height: 90px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #000;
    border-radius: 5px;
}

#guess-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .guess-input {
    display: flex;
    align-items: center;
    margin: 5px;
} */

.guess-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 30% ;
}

.guess-input-field,
.guess-select-field {
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 12px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}
/* .guess-input input {
    margin: 0 5px;
    width: 60px;
    padding: 5px;
}

.guess-input input, .guess-input select {
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
} */



@media (max-width: 600px) {
    .timer {
    font-size: 0.8rem;
  }
}